---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Foster">
	<main>
		<!-- ========== HEADER ========== -->
		<header class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-7">
			<nav class="relative max-w-7xl w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-6 md:px-8 mx-auto" aria-label="Global">
			<div class="md:col-span-3">
				<!-- Logo -->
				<a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="https://www.tworabbitrescue.org/" aria-label="Home">
					<img class="w-28 h-auto" src="https://www.tworabbitrescue.org/images/logo.png" alt="Two Rabbit Rescue logo">
				</a>
				<!-- End Logo -->
			</div>

			<!-- Button Group -->
			<div class="flex items-center gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3">
				<a href="https://www.tworabbitrescue.org/#getintouch">
					<button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-gray-200 text-black hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:hover:bg-white/10 dark:text-white dark:hover:text-white">
						Get in touch
					</button>
				</a>
				<a rel="noreferrer" target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=TG499P38CCK7N">
					<button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-bold rounded-xl border border-transparent bg-pink-400 text-white hover:bg-[oml]-500 transition disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-pink-500">
						Donate with PayPal
					</button>
				</a>

				<div class="md:hidden">
				<button type="button" class="hs-collapse-toggle size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-200 text-black hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-neutral-700 dark:hover:bg-neutral-700" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
					<svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<line x1="3" x2="21" y1="6" y2="6" />
					<line x1="3" x2="21" y1="12" y2="12" />
					<line x1="3" x2="21" y1="18" y2="18" />
					</svg>
					<svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M18 6 6 18" />
					<path d="m6 6 12 12" />
					</svg>
				</button>
				</div>
			</div>
			<!-- End Button Group -->

			<!-- Collapse -->
			<div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6">
				<div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-7 md:mt-0">
					<div>
						<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="https://www.tworabbitrescue.org/our-mission/">Our mission</a>
					</div>
					<div>
						<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="https://www.tworabbitrescue.org/our-bunnies/">Our bunnies</a>
					</div>
					<div>
						<a class="relative inline-block text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-lime-400 dark:text-white" aria-current="page" href="https://www.tworabbitrescue.org/foster/">Foster</a>
					</div>
					<div>
						<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="https://www.tworabbitrescue.org/adopt/">Adopt</a>
					</div>
					<div>
						<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="https://linktr.ee/2rabbitrescue">Follow us</a>
					</div>
					<!--
					<div>
						<button type="button" class="hs-dark-mode-active:hidden block hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="dark">
							<span class="group inline-flex shrink-0 justify-center items-center size-9">
							  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
							  </svg>
							</span>
						  </button>
						  <button type="button" class="hs-dark-mode-active:block hidden hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="light">
							<span class="group inline-flex shrink-0 justify-center items-center size-9">
							  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<circle cx="12" cy="12" r="4"></circle>
								<path d="M12 2v2"></path>
								<path d="M12 20v2"></path>
								<path d="m4.93 4.93 1.41 1.41"></path>
								<path d="m17.66 17.66 1.41 1.41"></path>
								<path d="M2 12h2"></path>
								<path d="M20 12h2"></path>
								<path d="m6.34 17.66-1.41 1.41"></path>
								<path d="m19.07 4.93-1.41 1.41"></path>
							  </svg>
							</span>
						</button>
					</div>
					-->
				</div>
			</div>
			<!-- End Collapse -->
			</nav>
		</header>
		<!-- ========== END HEADER ========== -->

		<!-- ========== MAIN CONTENT ========== -->
		<main id="content">
		<!-- Hero -->
		<div>
			<div class="w-full bg-center bg-cover"
			  style="background-image: url(https://images.pexels.com/photos/1028542/pexels-photo-1028542.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
			  <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
				<div class="text-center">
				  <div class="container px-4 mx-auto">
						<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
					
						<!-- Title -->
						<div class="max-w-3xl text-center mx-auto">
							<h1 class="block font-medium text-gray-200 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
							interested in fostering?
							</h1>
						</div>
						<!-- End Title -->
					
						<div class="max-w-3xl text-center mx-auto">
							<p class="text-lg text-white/90">what's involved, how we help, and how to start the process</p>
						</div>
					
						</div>
				  </div>
				</div>
			  </div>
			</div>
		</div>
		<!-- End Hero -->

			<!-- Clients -->
			<div class="px-4 lg:px-6 lg:px-8">
			<div class="relative py-6 md:py-10 overflow-hidden border-b border-gray-200 dark:border-neutral-700 before:absolute before:top-0 before:start-0 before:z-10 before:w-20 before:h-full before:bg-gradient-to-r before:from-white before:to-transparent after:absolute after:top-0 after:end-0 after:w-20 after:h-full after:bg-gradient-to-l after:from-white after:to-transparent dark:before:from-neutral-900 dark:after:from-neutral-900">
				<div class="flex justify-between items-center gap-x-4">

				<img class="w-7 md:w-10 h-auto text-black mx-auto dark:text-white" src="https://www.tworabbitrescue.org/images/carousel-1.png" alt="Rabbit iconography, attributed to Freepik on Flaticon">
				<img class="w-7 md:w-10 h-auto text-black mx-auto dark:text-white" src="https://www.tworabbitrescue.org/images/carousel-2.png" alt="Rabbit iconography, attributed to Freepik on Flaticon">
				<img class="w-7 md:w-10 h-auto text-black mx-auto dark:text-white" src="https://www.tworabbitrescue.org/images/carousel-3.png" alt="Rabbit iconography, attributed to nandaraihan on Flaticon">

				</div>
			</div>
			</div>
			<!-- End Clients -->

			<!-- FAQ -->
			<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
				<!-- Title -->
				<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
				<h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">care for rabbits in our foster program</h2>
				<p class="mt-1 text-gray-600 dark:text-neutral-400">learn how it works</p>
				</div>
				<!-- End Title -->
			
				<div class="max-w-2xl mx-auto">
				<!-- Accordion -->
				<div class="hs-accordion-group">
					<div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10 active" id="hs-basic-with-title-and-arrow-stretched-heading-one">
					<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="true" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-one">
						how do I start the process?
						<svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
						<svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
					</button>
					<div id="hs-basic-with-title-and-arrow-stretched-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-one">
						<p class="text-gray-800 dark:text-neutral-200">
							Simply <a rel="noreferrer" target="_blank" class="text-bold text-pink-500" href="https://two-rabbit-rescue.neetoform.com/ae4af9731d9be6ffa0b2">fill out our form</a> to apply for our foster care program. We'll be notified as soon as your form is submitted and will get back to you as soon as we can.</br></br>
							Have any other questions? You can 
							<a class="text-pink-600 group-hover:text-pink-700 group-focus:text-pink-700 dark:text-pink-500 dark:group-hover:text-pink-400 dark:group-focus:text-pink-400" href="https://www.tworabbitrescue.org/#getintouch">
							get in touch
							</a> with us at any time, through email, Instagram DMs, or LinkedIn messaging.
						</p>
					</div>
					</div>
			
					<div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-two">
					<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-two">
						how do I pick up my rabbits once approved?
						<svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
						<svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
					</button>
					<div id="hs-basic-with-title-and-arrow-stretched-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-two">
						<p class="text-gray-800 dark:text-neutral-200">
							Our foster program is only located within Southern California at this time; transportation is available as needed in this area.</br></br>
							We hope to expand in the future throughout California, and across the United States.
						</p>
					</div>
					</div>
			
					<div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-three">
					<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-three">
						I don't know how to care for rabbits, but I want to learn.
						<svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
						<svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
					</button>
					<div id="hs-basic-with-title-and-arrow-stretched-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-three">
						<p class="text-gray-800 dark:text-neutral-200">
							We will help provide you with training, educational materials, and other resources to help ensure you're prepared and successful in caring for the new additions to your family.</br></br>
							If you're considering fostering but aren't sure what it's like to live with a rabbit, talk to us or look through our Instagram to start to learn more.
						</p>
					</div>
					</div>
			
					<div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-four">
					<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-four">
						I only see adoptables on your website. how do I foster?
						<svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
						<svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
					</button>
					<div id="hs-basic-with-title-and-arrow-stretched-collapse-four" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-four">
						<p class="text-gray-800 dark:text-neutral-200">
							You're able to apply using our <a rel="noreferrer" target="_blank" class="text-bold text-pink-500" href="https://two-rabbit-rescue.neetoform.com/ae4af9731d9be6ffa0b2">Foster Form</a> to foster rabbit(s) already in our care or to foster rabbit(s) we find that would be a good match for you.</br></br>
							When you are approved, we'll work with you to find a rabbit that's in urgent need of rescue anywhere in Southern California.</br></br>
							After you're matched with your foster rabbit(s), we'll help find them a permanent home while they're in your care. If you fall in love with your foster bunny or bunnies and want to be their furever parent, talk to us!
						</p>
					</div>
					</div>
			
					<div class="hs-accordion hs-accordion-active:bg-gray-100 rounded-xl p-6 dark:hs-accordion-active:bg-white/10" id="hs-basic-with-title-and-arrow-stretched-heading-five">
					<button class="hs-accordion-toggle group pb-3 inline-flex items-center justify-between gap-x-3 w-full md:text-lg font-semibold text-start text-gray-800 rounded-lg transition hover:text-gray-500 focus:outline-none focus:text-gray-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-with-title-and-arrow-stretched-collapse-five">
						are there any fees to foster?
						<svg class="hs-accordion-active:hidden block shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
						<svg class="hs-accordion-active:block hidden shrink-0 size-5 text-gray-600 group-hover:text-gray-500 dark:text-neutral-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m18 15-6-6-6 6"/></svg>
					</button>
					<div id="hs-basic-with-title-and-arrow-stretched-collapse-five" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-with-title-and-arrow-stretched-heading-five">
						<p class="text-gray-800 dark:text-neutral-200">
							There are no fees to foster. We provide everything to help you get your foster rabbit(s) set up comfortably and make sure they're happy. This includes their food, toys, treats, transportation expenses for medical care or adoption events, and more.</br></br>
							We do ask for your help in maintaining a social media page for the rabbit(s) so that they can be seen by potential adopters, and in transporting them when they have medical appointments, adoption events, or other necessary places to be. Beyond that, you're required only to care for your fosters by snuggling them and giving them kisses, as well as providing them with all the snacks they probably will demand. 🐰
						</p>
					</div>
					</div>

					<a class="col-span-full lg:col-span-2 group flex flex-col justify-center text-center rounded-xl p-4 md:p-6 border border-dashed border-gray-200 hover:shadow-sm focus:outline-none focus:shadow-sm dark:border-neutral-700" href="https://two-rabbit-rescue.neetoform.com/ae4af9731d9be6ffa0b2">
						<div>
						<span class="inline-flex items-center text-pink-600 group-hover:text-pink-700 group-focus:text-pink-700 dark:text-pink-500 dark:group-hover:text-pink-400 dark:group-focus:text-pink-400">
							<b>apply to become a foster parent</b>
							<svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
						</span>
						</div>
					</a>
					<!-- End Col -->
				</div>
				<!-- End Accordion -->
				</div>
			</div>
			<!-- End FAQ -->

		</main>
		<!-- ========== END MAIN CONTENT ========== -->

		<!-- ========== FOOTER ========== -->
		<footer class="mt-auto border-t md:border-t-0 border-gray-200 dark:border-neutral-700">
			<div class="w-full max-w-7xl py-10 md:pt-0 px-4 sm:px-6 lg:px-8 mx-auto">
			<!-- Grid -->
			<div class="grid">
				<!-- Social Brands -->
				<div class="text-center md:text-end space-x-2">
				<a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-black hover:text-gray-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-neutral-400" href="mailto:tworabbitrescue@yahoo.com">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
				</a>
				<a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-black hover:text-gray-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-neutral-400" href="https://linktr.ee/2rabbitrescue">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>
				</a>
				<a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-black hover:text-gray-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-neutral-400" href="https://www.instagram.com/2rabbitrescue">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
				</a>
				<a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-black hover:text-gray-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-neutral-400" href="https://www.linkedin.com/company/two-rabbit-rescue/">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
				</a>
				</div>
				<!-- End Social Brands -->
			</div>
			<!-- End Grid -->
			</div>
		</footer>
		<!-- ========== END FOOTER ========== -->


		<!-- JS Implementing Plugins -->

		<!-- JS PLUGINS -->
		<!-- Required plugins -->
		<script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.min.js"></script>
	</main>
</Layout>
