---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main>
		<!-- ========== HEADER ========== -->
		<header class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-7">
			<nav class="relative max-w-7xl w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-6 md:px-8 mx-auto" aria-label="Global">
			<div class="md:col-span-3">
				<!-- Logo -->
				<a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="https://www.tworabbitrescue.org/" aria-label="Home">
					<img class="w-28 h-auto" src="https://www.tworabbitrescue.org/src/assets/images/logo.png" alt="Two Rabbit Rescue logo">
				</a>
				<!-- End Logo -->
			</div>

			<!-- Button Group -->
			<div class="flex items-center gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3">
				<a href="https://www.tworabbitrescue.org/#getintouch">
					<button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-xl border border-gray-200 text-black hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:hover:bg-white/10 dark:text-white dark:hover:text-white">
						Get in touch
					</button>
				</a>
				<a rel="noreferrer" target="_blank" href="https://www.paypal.com/donate/?hosted_button_id=TG499P38CCK7N">
					<button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-bold rounded-xl border border-transparent bg-pink-400 text-white hover:bg-pink-500 transition disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-pink-500">
						Donate with PayPal
					</button>
				</a>

				<div class="md:hidden">
				<button type="button" class="hs-collapse-toggle size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-200 text-black hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:border-neutral-700 dark:hover:bg-neutral-700" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
					<svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<line x1="3" x2="21" y1="6" y2="6" />
					<line x1="3" x2="21" y1="12" y2="12" />
					<line x1="3" x2="21" y1="18" y2="18" />
					</svg>
					<svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path d="M18 6 6 18" />
					<path d="m6 6 12 12" />
					</svg>
				</button>
				</div>
			</div>
			<!-- End Button Group -->

			<!-- Collapse -->
			<div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6">
				<div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-7 md:mt-0">
					<div>
						<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="https://www.tworabbitrescue.org/our-mission/">Our mission</a>
					</div>
					<div>
						<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="https://www.tworabbitrescue.org/our-bunnies/">Our bunnies</a>
					</div>
					<div>
						<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="https://www.tworabbitrescue.org/foster/">Foster</a>
					</div>
					<div>
						<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="https://www.tworabbitrescue.org/adopt/">Adopt</a>
					</div>
					<div>
						<a class="inline-block text-black hover:text-gray-600 dark:text-white dark:hover:text-neutral-300" href="https://linktr.ee/2rabbitrescue">Follow us</a>
					</div>
					<!--
					<div>
						<button type="button" class="hs-dark-mode-active:hidden block hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="dark">
							<span class="group inline-flex shrink-0 justify-center items-center size-9">
							  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
							  </svg>
							</span>
						  </button>
						  <button type="button" class="hs-dark-mode-active:block hidden hs-dark-mode font-medium text-gray-800 rounded-full hover:bg-gray-200 focus:outline-none focus:bg-gray-200 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" data-hs-theme-click-value="light">
							<span class="group inline-flex shrink-0 justify-center items-center size-9">
							  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<circle cx="12" cy="12" r="4"></circle>
								<path d="M12 2v2"></path>
								<path d="M12 20v2"></path>
								<path d="m4.93 4.93 1.41 1.41"></path>
								<path d="m17.66 17.66 1.41 1.41"></path>
								<path d="M2 12h2"></path>
								<path d="M20 12h2"></path>
								<path d="m6.34 17.66-1.41 1.41"></path>
								<path d="m19.07 4.93-1.41 1.41"></path>
							  </svg>
							</span>
						</button>
					</div>
					-->
				</div>
			</div>
			<!-- End Collapse -->
			</nav>
		</header>
		<!-- ========== END HEADER ========== -->

		<!-- ========== MAIN CONTENT ========== -->
		<main id="content">
		<!-- Hero -->
		<div>
			<div class="w-full bg-center bg-cover"
			  style="background-image: url(https://images.pexels.com/photos/1408221/pexels-photo-1408221.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
			  <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 py-12">
				<div class="text-center">
				  <div class="container px-4 mx-auto">
						<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24 space-y-8">
						<!-- Announcement Banner -->
						<div class="flex justify-center">
							<a class="group inline-flex items-center bg-white/20 hover:shadow-pink-700/50 border border-white/30 p-1 ps-4 rounded-full shadow-md focus:outline-none focus:shadow-pink-700/50" href="https://www.tworabbitrescue.org/our-bunnies/">
							<p class="me-2 text-white font-bold text-sm">
								See our bunnies
							</p>
							<span class="group-hover:bg-white/40 py-1.5 px-2.5 flex justify-center items-center gap-x-2 rounded-full bg-white/30 font-semibold text-white text-sm">
								<svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
							</span>
							</a>
						</div>
						<!-- End Announcement Banner -->
					
						<!-- Title -->
						<div class="max-w-3xl text-center mx-auto">
							<h1 class="block font-medium text-gray-200 text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
							Two Rabbit Rescue
							</h1>
						</div>
						<!-- End Title -->
					
						<div class="max-w-3xl text-center mx-auto">
							<p class="text-lg text-white/90">Dedicated to the proper rehoming of rabbits located in Southern California, while educating & providing resources across the globe to prevent abandonment.</p>
							<p class="text-white mt-4 text-sm"><em><b>not in your area? follow us anyway - we have plans to expand!</b></em></p>
						</div>
					
						<!-- Buttons -->
						<div class="text-center">
							<a class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-gray-600 to-gray-600 shadow-lg shadow-transparent hover:shadow-pink-700/50 border border-transparent text-white text-sm font-bold rounded-full focus:outline-none focus:shadow-pink-700/50 py-3 px-6" href="https://www.tworabbitrescue.org/#getintouch">
							Get in touch
							<svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
							</a>
						</div>
						<!-- End Buttons -->
						</div>
						<!-- 
						<span class="text-gray-200 font-semibold uppercase tracking-widest">New feature</span>
						<h2 class="mt-8 mb-6 text-4xl lg:text-5xl font-bold text-gray-100">Lorem ipsum dolor sit amet consectetur
							adipisicing elit.</h2>
						<p class="max-w-3xl mx-auto mb-10 text-lg text-gray-300">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum sit cum iure qui, nostrum at sapiente
							ducimus.
						</p>
						<a class="inline-block w-full md:w-auto mb-4 md:mr-6 py-5 px-8 text-sm font-bold uppercase border-2 border-transparent bg-gray-200 rounded hover:bg-gray-100 text-gray-800 transition duration-200"
							href="#">start your free trial</a>
						-->
				  </div>
				</div>
			  </div>
			</div>
		</div>
		<!-- End Hero -->

			<!-- Clients -->
			<div class="px-4 lg:px-6 lg:px-8">
			<div class="relative py-6 md:py-10 overflow-hidden border-b border-gray-200 dark:border-neutral-700 before:absolute before:top-0 before:start-0 before:z-10 before:w-20 before:h-full before:bg-gradient-to-r before:from-white before:to-transparent after:absolute after:top-0 after:end-0 after:w-20 after:h-full after:bg-gradient-to-l after:from-white after:to-transparent dark:before:from-neutral-900 dark:after:from-neutral-900">
				<div class="flex justify-between items-center gap-x-4">

					<img class="w-7 md:w-10 h-auto text-black mx-auto dark:text-white" src="https://www.tworabbitrescue.org/src/assets/images/carousel-1.png" alt="Rabbit iconography, attributed to Freepik on Flaticon">
					<img class="w-7 md:w-10 h-auto text-black mx-auto dark:text-white" src="https://www.tworabbitrescue.org/src/assets/images/carousel-2.png" alt="Rabbit iconography, attributed to Freepik on Flaticon">
					<img class="w-7 md:w-10 h-auto text-black mx-auto dark:text-white" src="https://www.tworabbitrescue.org/src/assets/images/carousel-3.png" alt="Rabbit iconography, attributed to nandaraihan on Flaticon">

				</div>
			</div>
			</div>
			<!-- End Clients -->

			<!-- Works -->
			<div class="max-w-7xl px-4 lg:px-6 lg:px-8 py-12 lg:py-24 mx-auto">
			<div class="mb-6 sm:mb-10 max-w-2xl text-center mx-auto">
				<h1 class="font-medium text-black text-2xl sm:text-4xl dark:text-white">
				Resource center
				</h1>
			</div>

			<!-- Card Grid -->
			<div class=" grid grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
				<!-- Card -->
				<a class="group block" href="https://www.tworabbitrescue.org/our-mission/">
				<div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
					<img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="https://www.tworabbitrescue.org/src/assets/images/our_mission.png" alt="Our Mission">
				</div>

				<div class="pt-4">
					<h3 class="relative inline-block font-medium text-lg text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
					our mission
					</h3>
					<p class="mt-1 text-gray-600 dark:text-neutral-400">
					why are we called 2 rabbit rescue? what do we do - and why is it so important?
					</p>
				</div>
				</a>
				<!-- End Card -->

				<!-- Card -->
				<a class="group block" href="https://www.tworabbitrescue.org/our-bunnies/">
				<div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
					<img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="https://www.tworabbitrescue.org/src/assets/images/our_bunnies.png" alt="Our Bunnies">
				</div>

				<div class="pt-4">
					<h3 class="relative inline-block font-medium text-lg text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
					our bunnies
					</h3>
					<p class="mt-1 text-gray-600 dark:text-neutral-400">
					all of our current rescued rabbits
					</p>
				</div>
				</a>
				<!-- End Card -->

				<!-- Card -->
				<div class="group block">
				<div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
					<img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="https://www.tworabbitrescue.org/src/assets/images/foster_or_adopt.png" alt="Foster or Adopt">
				</div>

				<div class="pt-4">
					<h3 class="relative inline-block font-medium text-lg text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
					foster or adopt with us
					</h3>
					<p class="mt-1 text-gray-600 dark:text-neutral-400">
					click <a class="font-bold text-pink-500" href="https://www.tworabbitrescue.org/foster">here</a> if interested in becoming a foster, and <a class="font-bold text-pink-500" href="https://www.tworabbitrescue.org/adopt">here</a> if you'd like to adopt
					</p>
				</div>
			</div>
				<!-- End Card -->

				<!-- Card -->
				<a class="group block" href="https://linktr.ee/2rabbitrescue">
				<div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
					<img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="https://www.tworabbitrescue.org/src/assets/images/follow_us.png" alt="Image Description">
				</div>

				<div class="pt-4">
					<h3 class="relative inline-block font-medium text-lg text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
					follow us on social media
					</h3>
					<p class="mt-1 text-gray-600 dark:text-neutral-400">
					get educational tips, see bunny features, be in the know
					</p>
				</div>
				</a>
				<!-- End Card -->
			</div>
			<!-- End Card Grid -->
			<!--
			<div class="mt-10 lg:mt-20 text-center">
				<a class="relative inline-block font-medium md:text-lg text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" href="#">
				View all Work
				</a>
			</div>
			-->
			</div>
			<!-- End Works -->

			<!-- Contact -->
			<div id="getintouch" class="max-w-7xl px-4 lg:px-6 lg:px-8 py-12 lg:py-24 mx-auto border-t border-gray-200 dark:border-neutral-700">
			<div class="mb-6 sm:mb-10 max-w-2xl text-center mx-auto">
				<h2 class="font-medium text-black text-2xl sm:text-4xl dark:text-white">
				get in touch
				</h2>
			</div>

			<div class="grid grid-cols-1 lg:grid-cols-2 lg:items-center gap-6 md:gap-8 lg:gap-12">
				<div class="aspect-w-16 aspect-h-6 lg:aspect-h-14 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
				<img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="https://www.tworabbitrescue.org/src/assets/images/contact_us.png" alt="Two of our rescue bunnies, eating veggies">
				</div>
				<!-- End Col -->
				<div class="space-y-8 lg:space-y-16">
				<!--
				<div>
					<h3 class="mb-5 font-semibold text-black dark:text-white">
					where we operate
					</h3>

					<!-- Grid
					<div class="grid sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
					<div class="flex gap-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/><circle cx="12" cy="10" r="3"/></svg>

						<div class="grow">
						<p class="text-sm">
							southern california
						</p>
						<p class="mt-1 text-black not-italic dark:text-white">
							<em>
								we work with anyone, anywhere in the southern part of CA
							</em>
						</p>
						</div>
					</div>
					</div>
					<!-- End Grid
				</div>
				-->

				<div>
					<h3 class="mb-5 font-semibold text-black dark:text-white">
					talk to us
					</h3>

					<!-- Grid -->
					<div class="grid sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
					<div class="flex gap-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>

						<div class="grow">
						<p class="text-sm">
							email us
						</p>
						<p>
							<a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" href="mailto:tworabbitrescue@yahoo.com">
							tworabbitrescue@yahoo.com
							</a>
						</p>
						</div>
					</div>

					<div class="flex gap-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>
						<div class="grow">
						<p class="text-sm">
							linktree
						</p>
						<p>
							<a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" href="https://linktr.ee/2rabbitrescue">
							https://linktr.ee/2rabbitrescue
							</a>
						</p>
						</div>
					</div>
					</div>
					<!-- End Grid -->
				</div>

				<div>
					<h3 class="mb-5 font-semibold text-black dark:text-white">
					follow us
					</h3>

					<!-- Grid -->
					<div class="grid sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
					<div class="flex gap-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
						
						<div class="grow">
						<p class="text-sm">
							instagram
						</p>
						<p>
							<a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" href="https://www.instagram.com/2rabbitrescue">
							@2rabbitrescue
							</a>
						</p>
						</div>
					</div>

					<div class="flex gap-4">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
						
						<div class="grow">
						<p class="text-sm">
							linkedin
						</p>
						<p>
							<a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" href="https://www.linkedin.com/company/two-rabbit-rescue/">
							@two-rabbit-rescue
							</a>
						</p>
						</div>
					</div>
					</div>
					<!-- End Grid -->
				</div>

				<div>
					<h3 class="mb-5 font-semibold text-black dark:text-white">
					thinking about donating to us?
					</h3>

					<!-- Grid -->
					<div class="grid sm:grid-cols-2 gap-4 sm:gap-6 md:gap-8 lg:gap-12">
					<div class="flex gap-4">
						<svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"/><path d="M12 18V6"/></svg>

						<div class="grow">
						<p class="text-sm">
							send money
						</p>
						<p>
							<a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" href="https://www.paypal.com/donate/?hosted_button_id=TG499P38CCK7N" rel="noreferrer" target="_blank">
							PayPal
							</a>
						</p>
						</div>
					</div>

					<div class="flex gap-4">
						<svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
						<div class="grow">
						<p class="text-sm">
							send things
						</p>
						<p>
							<a class="relative inline-block font-medium text-black before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-gray-400 hover:before:bg-black focus:outline-none focus:before:bg-black dark:text-white dark:hover:before:bg-white dark:focus:before:bg-white" href="https://www.amazon.com/hz/wishlist/ls/1BDO5XHRYVJN5?ref_=wl_share" rel="noreferrer" target="_blank">
							Amazon Wishlist
							</a>
						</p>
						</div>
					</div>
					</div>
					<!-- End Grid -->
				</div>
				</div>
				<!-- End Col -->
			</div>
			</div>
			<!-- End Contact -->
		</main>
		<!-- ========== END MAIN CONTENT ========== -->

		<!-- ========== FOOTER ========== -->
		<footer class="mt-auto border-t md:border-t-0 border-gray-200 dark:border-neutral-700">
			<div class="w-full max-w-7xl py-10 md:pt-0 px-4 sm:px-6 lg:px-8 mx-auto">
			<!-- Grid -->
			<div class="grid">
				<!-- Social Brands -->
				<div class="text-center md:text-end space-x-2">
				<a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-black hover:text-gray-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-neutral-400" href="mailto:tworabbitrescue@yahoo.com">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
				</a>
				<a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-black hover:text-gray-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-neutral-400" href="https://linktr.ee/2rabbitrescue">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/></svg>
				</a>
				<a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-black hover:text-gray-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-neutral-400" href="https://www.instagram.com/2rabbitrescue">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
				</a>
				<a class="size-8 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-black hover:text-gray-600 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:text-neutral-400" href="https://www.linkedin.com/company/two-rabbit-rescue/">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-shrink-0 size-5"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/><rect width="4" height="12" x="2" y="9"/><circle cx="4" cy="4" r="2"/></svg>
				</a>
				</div>
				<!-- End Social Brands -->
			</div>
			<!-- End Grid -->
			</div>
		</footer>
		<!-- ========== END FOOTER ========== -->


		<!-- JS Implementing Plugins -->

		<!-- JS PLUGINS -->
		<!-- Required plugins -->
		<script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.min.js"></script>
	</main>
</Layout>
