---
import { Analytics } from '@vercel/analytics/react';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
		<link rel="canonical" href="https://tworabbitrescue.org/">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Dedicated to the proper rehoming of rabbits in Southern California, while educating & providing resources across the globe to prevent abandonment.">

		<meta property="og:url" content="https://tworabbitrescue.org/">
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Two Rabbit Rescue">
		<meta property="og:title" content="Two Rabbit Rescue | 501(c)(3) Pending Animal Rescue & Nonprofit">
		<meta property="og:description" content="Dedicated to the proper rehoming of rabbits in Southern California, while educating & providing resources across the globe to prevent abandonment.">
		<meta property="og:image" content="https://www.tworabbitrescue.org/images/ogimage.png" />

		<!-- Title -->
		<title>{title} | Two Rabbit Rescue | 501(c)(3) Pending Animal Rescue & Nonprofit</title>
	  
		<!-- Favicon -->
		<link rel="shortcut icon" href="https://www.tworabbitrescue.org/images/logo.ico">
	  
		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
			  
		<!-- Custom CSS -->
		<style>
			html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, a {
				font-family: 'Urbanist', sans-serif !important;
			}
		</style>

		<!-- CSS Preline -->
		<link rel="stylesheet" href="https://preline.co/assets/css/main.min.css">

	</head>
	<body>
		<slot />
		<Analytics />
	</body>
</html>
